/* This stylesheet is directly for the index.html file */

/*div {
  background-color: cornflowerblue;
  border-radius: 8px;
  border: 0px solid #ccc;
  padding: 1rem;
  margin: 1rem;
  color: white;
}*/
